<article class="ng-for">
  <h2>NgFor</h2>
  <h3>
    Lista de pessoas geradas pela diretiva ngFor, vindas de uma classe .service
  </h3>
  <ul>
    <li *ngFor="let pessoa of pessoas">{{ pessoa }}</li>
  </ul>
</article>

<article class="ng-if">
  <h2>NgIf</h2>
  <button mat-flat-button (click)="trocar()">Trocar valor</button>
  <p *ngIf="isCursosListados">
    A lista dos cursos está vazia. Esse texto apareceu por isso
  </p>
</article>

<article class="ng-switch">
  <h2>NgSwitch</h2>
  <button mat-flat-button (click)="mudarInput()">Trocar valor</button>
  <input type="text" value="Desabilita quando verdade" [disabled]="input" />
  <input type="text" value="Desabilita quando false" [disabled]="!input" />
</article>
