<article class="ng-for">
  <h2>NgFor</h2>
  <h3>
    Lista de pessoas geradas pela diretiva ngFor, vindas de uma classe .service
  </h3>
  <ul>
    <li *ngFor="let pessoa of pessoas; let i = index">
      {{ i + 1 }} - {{ pessoa }}
    </li>
  </ul>
</article>

<article class="ng-if">
  <h2>NgIf</h2>
  <button mat-flat-button (click)="trocar()">Trocar valor</button>
  <p *ngIf="isCursosListados">
    A lista dos cursos está vazia. Esse texto apareceu por isso
  </p>
</article>

<article class="ng-switch">
  <h2>NgSwitch</h2>
  <button mat-flat-button (click)="mudarInput()" [disabled]="input > 1">
    {{ input <= 1 ? "Trocar para o próx case" : "Botão bloqueado" }}
  </button>
  <div [ngSwitch]="input">
    <p *ngSwitchCase="0">Este parágrafo tem o case "0"</p>
    <p *ngSwitchCase="1">Este parágrafo tem o case "1"</p>
    <p *ngSwitchDefault>
      Esse aqui é o valor default. Seu botão foi desabilitado
    </p>
  </div>
</article>
