<section>
  <h1>Hello World</h1>
  <section class="data-binding">
    <h1>Passagem de dados</h1>
    <app-data-binding></app-data-binding>
  </section>

  <section class="directives">
    <h1>Diretivas</h1>
    <app-directives></app-directives>
  </section>

  <section class="io-properties">
    <h1>Passagem e recebimento de dados entre componentes</h1>
    <app-io-properties [nome]="nomeIo" (mudouValor)="onMudouValor($event)">
    </app-io-properties>
    <p>Valor recebido do filho: {{ valorRecebido }}</p>
  </section>

  <section class="element-ref">
    <h1>Mudando estilos com ElementRef ou Renderer</h1>
    <p appDirectiveFundoAzul>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis,
      maxime eos? Tempora dolore distinctio totam, repudiandae et ratione at
      natus voluptates velit fugiat eligendi, obcaecati ipsa porro, ipsum magni
      deserunt.
    </p>
  </section>
</section>
